extends layout

block content
  h1= title
  p You are about to be redirected to #{url}
  form#PS_SIGNON(method='POST' action='#{url}')
      input#JWT(type='hidden' name='JWT' value='#{token}')
block scripts
   script(src='/js/index.js')


